html, body {
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  background-size: cover;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

* {
  box-sizing: border-box;
}

a {
  text-decoration: none;
  color: inherit;
}

.menu {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  position: absolute;
  align-items: center;
  width: 100vw;
  height: 3.4vmax;
  font-size: 1.7vmax;
  font-weight: 500;
  background-color: rgb(149, 14, 198);
  color: rgb(39, 55, 23);
  z-index: 10;
}

.menu a {
  cursor: pointer;
  position: relative;
}

.menu a::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: aliceblue;
  overflow: hidden;
}

.menu a:hover::before {
  animation: glitch 0.3s;
}

#showMenu {
    display: none;
}

@keyframes glitch {
  0% {
    transform: translate(0, 0);
  }
  20% {
    transform: translate(-5px, 5px);
    opacity: 0.75;
  }
  40% {
    transform: translate(5px, -5px);
    opacity: 0.5;
  }
  60% {
    transform: translate(-5px, 5px);
    opacity: 0.25;
  }
  80% {
    transform: translate(5px, -5px);
    opacity: 0.1;
  }
  100% {
    transform: translate(0, 0);
    opacity: 1;
  }
}

#piano {
    position: absolute;
    display: flex;
    width: 100vw;
    height: 37.5%;
    bottom: 0%;
    border: 1px solid black;
    z-index: 5;
  }
  
.key {
  width: 4.35vmax;
  margin-left: 0.2vmax;
  height: 98.5%;
  border: 1px solid black;
  font-size: 1.8vmax;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: flex-end;
}
  
.white {
  background-color: #fff;
  border-bottom-left-radius: 12px;
  border-bottom-right-radius: 12px;
  box-shadow: 0px 0.2vmax 2px 1px rgb(120, 120, 120);
}
  
.black {
  position: absolute;
  background-color: #000;
  border-bottom-left-radius: 12%;
  border-bottom-right-radius: 12%;
  box-shadow: 0 7px 1px 0px rgb(41, 41, 41), 
  3px 0 3px 0px rgba(0, 0, 0, 0.5);
  width: 2.2vmax;
  height: 60%;
  z-index: 1;
  color: #fff;
}

.active {
  background-color: green;
  box-shadow: none;
}

.hide-text {
  color: transparent;
}

#rotatePhone {
  display: none;
}

@media only screen and (orientation: portrait) {
  .menu {
    flex-direction: column;
    justify-content: flex-start;
    align-items: baseline;
    font-size: 6.5vmin;
    height: 100%;
    width: 50vmin;
    left: -50vmin;
    transition: 0.3s;
}

  .menu a {
      margin-left: 5vmin;
      margin-top: 5vmin;
  }

  .menu.show {
      left: 0%;
      transition: 0.3s;
  }

  #showMenu {
      display: block;
      font-size: 7vmin;
      position: absolute;
      top: 2vmin;
      left: 2vmin;
  }

  #blackWindow.active {
      height: 100vmax;
      width: 100vmin;
      background-color: rgba(0, 0, 0, 0.105);
      transition: 0.3s;
  }

  #piano, #keyboard {
    display: none;
  }

  #rotatePhone {
    font-size: 8.5vmin;
    justify-content: center;
    display: flex;
    align-items: center;
    text-align: center;
    width: 100%;
    height: 100vh;
  }
}
  